@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron";
}
header {
  width: 100%;
  height: 100%;
  background-color: #00204b;
}
